<!DOCTYPE html>
<html>
<head>
	<title>SBelser WDI Project 0</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Custome style -->
	<link rel="stylesheet" href="style.css" />
</head>
<body>
<header>
	<div class="jumbotron">
		<h1>Beta Connect</h1>
		<p>One-stop shop connecting Steam Early Access game developers with beta testers and players</p>
		<p><a href="#" data-toggle="modal" data-target="#add-post-modal" class="btn btn-success">New Post</a></p>
	</div>
</header>

<!--Add Post Modal-->
<div id="add-post-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New Post</h4>
			</div>
			<div class="modal-body">

			<form id="modal-form">
				<div class="bold">
					Image URL
				</div>
				<div class="margin-top-20">
					<input id="new-image" type="text" class="form-control" />
				</div>
				<div class="bold margin-top-20">
					Title
				</div>
				<div class="margin-top-20">
					<input id="new-title" type="text" class="form-control" />
				</div>
				<div class="bold margin-top-20">
					Body
				</div>
				<div class="margin-top-20">
					<textarea class="form-control" id="new-body" rows="5" placeholder="Describe the game" required></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="save-post" type="submit" class="btn btn-primary">Save Post</button>
			</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Add Book Modal-->

<!--Add Comment Modal-->
<div id="add-comment-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New Comment</h4>
			</div>
				<div class="bold margin-top-20">
					Rating
				</div>
				<div class="margin-top-20">
					<select class="form-control">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
				<div class="bold margin-top-20">
					Comment
				</div>
				<div class="margin-top-20">
					<input id="comments" type="text" class="form-control" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="save-book" type="button" class="btn btn-primary">Save Comment</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Add Book Modal-->

	<div class="container">
		<div id="post-list"></div>

	<script type="text/template" id="post-template">
	<div class="row margin-top-20 post-container">
		<div class="col-xs-3">
			<img src= "<%= image %>" class="img-responsive" id="new-image" />
			<br><br>
		</div>
		<div class="col-xs-9">
			<div class="margin-top-20">
				<span class="bold">Title: </span><span>"<%= title %>"</span>
			</div>
			<div>
				<span class="bold">Body: </span><span>"<%= body %>"</span>
			</div>
			<br>
			<p>
				<a href="#" data-toggle="modal" data-target="#add-comment-modal" class="btn btn-primary">New Comment</a>
			</p>
			<br><br>
		</div>
	</div>
	</script>

	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand">Sabastian Belser</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navcollapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Info<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="https://github.com/sswbelser">GitHub</a></li>
					<li><a href="https://twitter.com/sswbelser">Twitter</a></li>
					<li><a href="https://www.facebook.com/sswbelser">Facebook</a></li>
					<li><a href="https://www.linkedin.com/in/sabastianbelser">LinkedIn</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="http://www.rockheadandquarry.com/">Rockhead & Quarry, LLC</a></li>
				</ul>
			</li>
		</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>

	<!--jQuery-->
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

	<!--Underscore-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/	bootstrap.min.js"></script>

	<!-- Custom script -->
	<script src="scripts.js"></script>

</body>
</html>