/*CSS*/
#new-image-template {*/
	border-radius: 25px;
	padding:1px;
	border:1px solid black;
}
.jumbotron {
	text-align: center;
	color: white;
	background: black;
	font-family: "Courier New", Courier, monospace;
}
#post-list {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#comment-list {
	font-family: Tahoma, Geneva, sans-serif;
}
body {
	background-image: url(http://wallfoy.com/wp-content/uploads/2014/03/Light-Blue-Wallpaper-83.jpg);
	background-size: cover;
	font-style: bold;
}
